extends common/layout.pug

block content
    main.page-content
      section.login
        form(class='login__form form' action='#' method='post' enctype='multipart/form-data')
          div(class='login__title')
            a(class='login__link' href='sign-up.html') Регистрация
            h2 Вход
          div(class='form__field login__field')
            input#user-email.js-field(type='email' name='user-email' required='')
            label(for='user-email') Эл. почта
            span Обязательное поле
          div(class='form__field login__field')
            input#user-password.js-field(type='password' name='user-password' required='')
            label(for='user-password') Пароль
            span Обязательное поле
          button(class='login__button btn btn--medium js-button' type='submit' disabled='') Войти
