doctype html
html(lang='ru')
  include common/head.pug
  body
    include common/header.pug
    main.page-content
      .message
        div(class='message__text')
          p На сайте еще не опубликовано ни&nbsp;одного объявления.
        a(href='#' class='message__link btn btn--big') Вход и регистрация
    include common/footer.pug
